include includes/header.pug

link(rel="stylesheet", href="css/about/about.css")

body
    .about
        header
            include includes/menu/fullMenu.pug

        .aboutText
            #aboutT
                h1 ABOUT US
                p 
                    |Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    |Iusto corporis inventore exercitationem ipsam vel dolore?
                    |Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, aperiam.#[br] #[br]

                    |Lorem ipsum dolor sit amet consectetur, 
                    |adipisicing elit. Odio dignissimos quisquam 
                    |aliquam repudiandae, voluptates ipsum eos sapiente 
                    |inventore, laborum deserunt quam velit repellendus 
                    |adipisci nesciunt. Saepe tempora cupiditate illum odit! 
                    |Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    |Iusto corporis inventore exercitationem ipsam vel dolore?
                    |Lorem, ipsum dolor sit amet consectetur adipisicing elit.#[br]#[br]

                    |Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    |Omnis voluptates sunt, pariatur temporibus aut corporis? 
                    |In quis possimus esse natus magni sint blanditiis minima tenetur.

                a(href="#") #[u About Lorem Ipsum]

            #aboutP


        footer
            include includes/footer/footer.pug 

    script(type="module" src="/scripts/index.js")           