include includes/header.pug

link(rel="stylesheet", href="css/index/index.css")


body
  .container
    header
      include includes/menu/fullMenu.pug

    .menu#same
      #menuText
        h1 MENU
        p.
         Lorem ipsum dolor sit, amet consectetur adipisicing elit.
         Necessitatibus, exercitationem. Et laboriosam totam architecto 
         deleniti laborum velit eius nostrum consectetur?
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
         Perferendis, asperiores.
        a(href="/menuList") #[button READ MORE] 
      #menuPic

    .personDetails#same
      #menuPic
      #menuText
          h1 LOREM IPSUM
          p.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Necessitatibus, exercitationem. Et laboriosam totam architecto 
            deleniti laborum velit eius nostrum consectetur?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Perferendis, asperiores.
          a(href="/about") #[button READ MORE] 
    
    .events#same
      #menuText
        h1 EVENTS
        p.
         Lorem ipsum dolor sit, amet consectetur adipisicing elit.
         Necessitatibus, exercitationem. Et laboriosam totam architecto 
         deleniti laborum velit eius nostrum consectetur?
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
         Perferendis, asperiores.
        button READ MORE 
      #menuPic

    .gallery
      include includes/newsSect.pug
        
    footer
      include includes/footer/footer.pug   

  script(type="module" src="scripts/index.js")   
