include includes/header.pug 

link(rel="stylesheet", href="css/news/news.css")

body
    .news
        header
            include includes/menu/fullMenu.pug 

        .newsArticle

        .newsItems
            .gallery
                //include includes/newsSect.pug



        footer
            include includes/footer/footer.pug   

    script(type="module" src="/scripts/index.js")         