include includes/header.pug

link(rel="stylesheet", href="/css/reservations/reservations.css")

body
    .reservations
        header
            include includes/menu/fullMenu.pug

        
        #resT
            .resText
                h1 MAKE A RESERVATION
                p
                    |Lorem ipsum dolor sit amet, consectetur 
                    |dipisicing elit. Vel aut nam quidem 
                    |maiores amet, nostrum debitis fuga, omnis 
                    |umque suscipit magni aspernatur ipsum iure fugit?#[br]#[br]

                    |Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem pariatur earum vitae itaque dolore enim explicabo architecto distinctio alias consequatur praesentium minima sint sed perspiciatis laboriosam, numquam voluptatum quia beatae, assumenda illum ipsa nostrum ullam. Aut numquam repudiandae neque vel.
                    |Lorem ipsum, dolor sit amet consectetur adipisicing elit. At ullam velit voluptate officia iusto quae. Totam consequatur iste sequi earum amet nulla! Velit, laboriosam et. #[br]#[br] 

                    |Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae adipisci ea provident itaque officiis fugiat? Cumque aliquam debitis fugit et!  
            .resPic

        #resP
            .formPic

            .formText
                h1 WAITLIST
                p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  |Dignissimos, ea itaque illo architecto vero odit blanditiis 
                  |animi hic sint delectus? Accusantium neque distinctio
                  | excepturi assumenda.

                form
                    #compact
                        input(type="text" id="fName" placeholder="First Name")  
                        input(type="text" id="lName" placeholder="Last Name") 
                    input(type="text" id="email" placeholder="Email")  
                    input(type="text" id="mobile" placeholder="Mobile")   

                    #compact
                        #c   
                            label(for="pDate") Preferred Date#[br]
                            input(type="text" id="pDate")
                        #c    
                            label(for="pTime") Preferred Time#[br]
                            input(type="text" id="pTime")
                    
                    #compact
                        #c
                            label(for="pTime") Is your time flexible#[br]
                            select
                                option(selected) Yes
                                option No
                        #c    
                            label(for="pTime") Are your dates flexible #[br]
                            select
                                option(selected) Yes
                                option No
                    
                    label(for="pTime") Number of Guests#[br]
                    input(type="text" id="pTime")

                    button SUBMIT

        footer
            include includes/footer/footer.pug  

        script(src="/scripts/index.js" type="module")     