#ulList
    ul
        li 
            a(href="/") HOME
        li 
            a(href="/menuList") MENU
        li 
            a(href="/about") ABOUT
        li 
            a(href="/reservations") RESERVAIONS
        li 
            a(href="wait") WAITLIST
        li 
            a(href="#") EVENTS    
        li 
            a(href="/contact") CONTACT


button MAKE A RESERVATION
