#ulList
    ul
        li 
            a(href="/") HOME
        li 
            a(href="/menuList") MENU
        li 
            a(href="/about") ABOUT
        li 
            a(href="#") RESERVAIONS
        li 
            a(href="#") WAITLIST
        li 
            a(href="#") EVENTS    
        li 
            a(href="#") CONTACT


button MAKE A RESERVATION
