#ulList
    ul
        li 
            a(href="#") HOME
        li 
            a(href="#") MENU
        li 
            a(href="#") ABOUT
        li 
            a(href="#") RESERVAIONS
        li 
            a(href="#") WAITLIST
        li 
            a(href="#") EVENTS    
        li 
            a(href="#") CONTACT


button MAKE A RESERVATION
