@import "./menuRes";

.hiddenReservation {
  //border: 1px solid red;
  width: 35%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: 0.2s;
  background: rgb(233, 253, 230);
  z-index: 20;
  overflow-y: scroll;

  img {
    width: 2.5rem;
    padding: 5%;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    z-index: 10;
  }
  @include hiddenWidth();
}

.resToggle {
  transform: translateX(0%);
}

#calender {
  //border: 1px solid red;
  //width: 90%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1.5rem repeat(6, 2rem);
  text-align: center;
  justify-content: center;
  #date {
    border: 0.1px solid black;
    p {
      //border: 1px solid red;
      margin-top: 0.35rem;
    }
    transition: 0.5s;
  }
}

.dateHover {
  cursor: pointer;
  &:hover {
    background: black;
    color: white;
  }
}

.box {
  //border: 1px solid red;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //text-align: start;
  //padding-left: 5%;

  h1 {
    width: 80%;
    margin-bottom: 4%;
    margin-left: 5%;
    letter-spacing: 0.2rem;
    font-size: 2.5rem;
  }
  h3 {
    width: 80%;
    margin-bottom: 5%;
    margin-left: 5%;
    //font-weight: 600;
  }
}

#selectBox {
  display: flex;
  margin-left: 5%;
  margin-bottom: 7%;

  select {
    width: 50%;
    height: 2.5rem;
    font-size: 1rem;
    background: none;
    border: 2px solid black;
    outline: none;
    option {
      //color: white;
      //outline: none;
      outline: 2px solid black;
      border: 2px solid black;
    }
  }
  #lunch {
    border-right: none;
  }
}

#pBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
  span {
    margin-right: 0.4em;
  }
  p {
    cursor: pointer;
    user-select: none;
  }
}

#calenderBox {
  //border: 1px solid green;
  display: flex;
  flex-direction: column;
  //width: 80%;
}

.same2 {
  //border: 1px solid blue;
  width: 80%;
  margin-left: 5%;
}
