@import "./footerRes";

footer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60% 100%;
  @media screen and (max-width: 426px) {
    grid-template-rows: auto;
  }
}

.email {
  background: #dce4e7;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-content: center;
  color: black;

  h1 {
    font-size: 2.8rem;
    letter-spacing: 0.1rem;
  }
  p {
    margin-top: 1rem;
    font-size: 1.1rem;
    word-spacing: 0.2rem;
    letter-spacing: 0.1rem;
    //width: 90%;
  }
}

#emailText {
  //align-self
  padding-left: 3.5rem;
  //border: 1px solid red;
}

#emailInput {
  //border: 1px solid green;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-top: 1rem;

  input {
    border: none;
    border-bottom: 2px solid rgb(2, 2, 2);
    width: 65%;
    //height: 4rem;
    outline: none;
    padding: 0 0 0.2rem 0.5rem;
    font-size: 1.2rem;
    background: none;
  }
  button {
    @include btnSelect(rgb(5, 5, 5), rgb(3, 3, 3), 30%, 2.2rem);
    margin-top: 1rem;
  }
}

.email {
  @include email();
}

.rest {
  display: grid;
  grid-template-columns: 70% 30%;
  background: #d5dddb;
  //border: 1px solid rgb(94, 255, 0);
}

#firstPart {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 55% 5%;
  // border: 1px solid purple;
  h1 {
    // border: 1px solid red;
    margin-left: 3.5rem;
    align-self: center;
    font-size: 4rem;
  }
  #flex1 {
    // border: 1px solid goldenrod;
    margin: 0 2rem 0 3.5rem;
    display: flex;
    justify-content: space-between;
    h3 {
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
    }
    h5 {
      margin: 0.5rem 0 0rem 0;
      font-size: 1rem;
    }
    p {
      line-height: 1.5rem;
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    button {
      @include btnSelect(black, black, auto, auto);
      padding: 5% 10% 5% 10%;
      margin: 0.5rem 0 0.8rem 0;
      transition: 0.5s;
      &:hover {
        background: black;
        color: white;
      }
    }
    address {
      font-style: normal;
      font-size: 1.1rem;
      width: 95%;
    }
  }
  #social {
    //border: 1px solid red;
    margin-left: 3.5rem;
    img {
      width: 2rem;
      margin-right: 1rem;
    }
    @media screen and (max-width: 426px) {
      img {
        margin-bottom: 2rem;
      }
    }
  }
}

#secondPart {
  background: url("/pics/ps.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(0);
  transition: 1s;
  //opacity: 0.4;
  &:hover {
    filter: grayscale(1);
  }
}

.rest {
  @include footerBtm();
}
