@import "../modules/menu";
@import "../modules/hiddenMenu";
@import "../modules/footer";
@import "./createRes";
//@import "./responsive";

@mixin google-font($family) {
  @import url("http://fonts.googleapis.com/css?family=#{$family}");
}

* {
  margin: 0;
  padding: 0;
  @include google-font("Source Sans Pro");
  font-family: "Source Sans Pro";
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
nav {
  transition: 0.5s;
}
