@import "./btnSelect";

nav {
  position: relative;
  position: fixed;
  width: 100%;
  height: 4.4rem;
  transition: 0.5s;
  z-index: 10;
  display: flex;
  align-items: center;

  img {
    position: absolute;
    color: white;
    left: 48%;
    right: 48%;
    width: 2rem;
    margin: 0 auto;
    transform: scale(0);
    transition: 0.5s;
  }

  button {
    position: absolute;
    right: 2.5rem;
    @include btnSelect(white, white, auto, auto);
    margin: 0rem 0rem 0 0;
    letter-spacing: 0.2rem;
    padding: 0.4rem 1rem 0.4rem 1rem;
    transition: 0.5s;
    &:hover {
      background: white;
      color: black;
    }
  }
}

.hamMenu {
  position: fixed;
  width: 2.8rem;
  height: 1.8rem;
  margin: 1.3rem 0 0 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  z-index: 1000;

  .line {
    position: relative;
    width: 100%;
    height: 2px;
    background: white;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &:hover {
    #top {
      width: 80%;
    }
    #middle {
      width: 60%;
    }
    #bottom {
      width: 80%;
    }
  }
}

.toggleHam {
  width: 4rem;
  height: 3rem;
  z-index: 1000;
  &:hover {
    #top,
    #bottom {
      width: 100%;
    }
  }
  .line {
    background: black;
    width: 100%;
  }

  #top {
    transform: rotate(45deg);
    transform-origin: left;
  }

  #middle {
    transform: scale(0);
    width: 0;
  }
  #bottom {
    transform: rotate(-45deg);
    transform-origin: left;
  }
}
