.email
    #emailText      
        h1 KEEP UP TO DATE WITH LOREM
        p 
         |Sign up to be the first to receive special 
         |news and event updates from Lorem.
    #emailInput
        input(type="text",placeholder="Email Address" ) 
        button SUBSCRIBE  


.rest
    #firstPart
        h1 LOGO
        #flex1
            .open
                h3 OPENING HOURS

                h4 LUNCH SERVICE
                p Friday, Saturday & Sunday:#[br]
                  |Bookings from 12pm - 1.30pm  

                h4 DINNER SERVICE
                p Daily: Bookings from 6pm – 9pm

                h4 FUNCTIONS & EVENTS
                P Lunch: Monday to Sunday from 12pm#[br]
                  |Dinner: Monday to Sunday from 6pm  

            .location
                h3 LOCATION
                address.
                    Upper Level,#[br]
                    Overseas Passenger Terminal,#[br]
                    The Rocks, Sydney 2000#[br]
                    phone: 021 9251 5601

            .res
                h3 MAKE A RESERVATION
                button MAKE A RESERVATION
                p Tel: 022 9251 5600
        
        #social
            //h3 SOCIAL
            a(href="#")
                img(src="/pics/fb1.png")
            a(href="#")
                img(src="/pics/ins.png")
            a(href="#")
                img(src="/pics/yt.png")     
            


    #secondPart
        