@import "../modules/main";

.reservations {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 4.4rem 100% auto auto;
  @include navColor();
  @include screenSize(426px) {
    grid-template-rows: 8% auto;
  }
}

#resT {
  //border: 1px solid rgb(43, 40, 40);
  background: $main-color;
  display: grid;
  grid-template-columns: 50% 50%;
  .resPic {
    background: url("/pics/res1.jpg") no-repeat;
    @include bacImg();
  }
  .resText {
    align-self: center;
    justify-self: center;
    width: 80%;
    @include textEffect();
  }
}
#resT {
  @include screenSize(960px) {
    grid-template-columns: 100%;
    grid-template-rows: 50% auto;
    .resText {
      order: 2;
      //padding: 1rem 0 1rem 0;
    }
    .resPic {
      order: 1;
    }
  }
  @include screenSize(426px) {
    //border: 1px solid red;
    grid-template-columns: 100%;
    grid-template-rows: 400px auto;

    .resText {
      padding: 1rem 0 1rem 0;
      h1 {
        font-size: 2.5rem;
      }
    }
  }
}

#resP {
  position: relative;
  //border: 1px solid navy;
  background: mediumslateblue;
  display: grid;
  grid-template-columns: 50% 50%;
  .formPic {
    background: url("/pics/res2.jpg") no-repeat;
    @include bacImg();
  }
  .formText {
    background: $main-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //align-items: center;
    padding: 10%;
    @include textEffect();
    h1,
    p {
      margin-bottom: 2%;
    }
  }
  @include screenSize(960px) {
    grid-template-columns: 100%;
    grid-template-rows: 50% auto;
  }

  @include screenSize(426px) {
    grid-template-columns: 100%;
    grid-template-rows: 500px auto;
  }
}

form {
  //border: 1px solid red;
  margin: 5% 0 5% 0;

  input,
  select {
    background: none;
    border: 2px solid black;
    outline: none;
    height: 2.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    font-size: 1.2rem;
    padding-left: 0.5rem;
    margin-top: 0.2rem;
  }
  #email,
  #mobile {
    display: block;
    width: 100%;
  }
  button {
    @include btnSelect(black, black, 35%, 2.5rem);
  }
}

#compact {
  display: flex;

  #c {
    width: 100%;
    // border: 1px solid red;
  }
  select {
    color: rgb(114, 114, 114);
    width: 105%;
    height: 2.7rem;
  }
  #c:nth-child(1),
  #fName {
    margin-right: 2.5rem;
  }
}
label {
  letter-spacing: 0.1rem;
}
